.link-button {
	padding: 0.5rem 1rem;
	border-radius: 2rem;
	background-color: #f4ce14;
	color: #495e57;
	font-weight: bold;
	border: 0.1875rem solid #f4ce14;
	text-decoration: none;
	height: max-content;
	width: max-content;
}

html {
	scroll-behavior: smooth;
}

a,
p,
li {
	font-family: "Karla";
}

a {
	text-decoration: none;
	font-weight: bold;
}

h1 {
	font-family: "Markazi Text";
	font-size: xxx-large;
}

.container {
	max-width: 61.625rem;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.grid {
	display: grid;
}

* {
	margin: 0;
	padding: 0;
}

/* File: font.css */
@font-face {
	font-family: "Karla";
	src: local("Karla"),
		url("assets/Karla-VariableFont_wght.ttf") format("truetype");
}

@font-face {
	font-family: "Markazi Text";
	src: local("Markazi Text"),
		url("assets/MarkaziText-VariableFont_wght.ttf") format("truetype");
}
