.footer-nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.footer-nav-links {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/* .nav-bar-links li {
	display: flex;
	flex-direction: row;
	float: left;
	padding: 0.75rem;
	font-weight: bold;
} */

/* .nav-bar-links a {
	color: #495e57;
	text-decoration: none;
	text-transform: uppercase;
}

.nav-bar-links a:hover,
.footer-nav-links a:hover {
	color: #f4ce14;
	transition: color 0.5s;
} */

.footer {
	display: grid;
	grid-template-columns: repeat(4, 25%);
	background-color: #495e57;
	color: white;
	padding: 1rem;
	overflow-wrap: break-word;
	bottom: 0;
}

.footer img {
	width: 100%;
}

.footer ul {
	list-style-type: none;
	padding: 0;
}

.footer a {
	color: white;
	text-decoration: none;
}

.footer a:hover {
	color: #f4ce14;
}

.footer-section-header {
	font-weight: bold;
}

.footer-nav-links {
	font-weight: bold;
}

.footer img {
	margin: auto;
}

.main-splash {
	display: flex;
	justify-content: center;
	align-content: center;
	background-color: #495e57;
}

.specials-div {
	display: flex;
	flex-direction: column;
	padding: 0rem 5rem 5rem 5rem;
}

.specials-div-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.specials-food-cards-div {
	display: grid;
	grid-template-columns: repeat(3, auto);
	justify-items: left;
	align-items: start;
	overflow-x: auto;
}

.splash-section {
	display: grid;
	grid-template-columns: repeat(2, auto);
	margin-left: 18rem;
	margin-right: 16rem;
}

.splash-section h1 {
	color: #f4ce14;
}

.splash-section h2 {
	color: white;
}

.splash-section img {
	width: 70%;
	margin: auto;
	border-radius: 16px;
	object-fit: cover;
	margin-bottom: -7rem;
}

.food-card-img {
	width: 100%;
	border-radius: 16px;
	padding: 0;
}

.food-card-div {
	width: 75%;
	display: flex;
	flex-direction: column;
}

.food-card-footer {
	display: flex;
}

.food-card-info {
	background-color: #d9d9d9;
	padding: 1rem;
	border-radius: 16px;
	margin-bottom: 1rem;
	margin-top: -2rem;
	z-index: -1;
}

.delivery-icon {
	height: 25%;
	padding-left: 10px;
	object-fit: scale-down;
}

.link-button {
	padding: 0.5rem 1rem;
	border-radius: 2rem;
	background-color: #f4ce14;
	color: #495e57;
	font-weight: bold;
	border: 0.1875rem solid #f4ce14;
	text-decoration: none;
	height: max-content;
	width: max-content;
}
/* 
.header {
	display: flex;
	flex-direction: row;
	justify-content: center;
} */

.booking-page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.booking-form {
	display: grid;
	max-width: 200px;
	gap: 20px;
}

.booking-form-div {
	display: flex;
	background-color: #f4ce14;
	max-width: fit-content;
	border-radius: 16px;
	margin: 0rem 2rem 2rem 2rem;
	padding: 2rem;
	flex-direction: row;
	justify-content: center;
}

.confirmed-booking-div {
	display: flex;
	align-content: center;
	margin: 2rem;
	flex-direction: column;
}

.main-testimonials-section {
	background-color: #495e57;
}

.testimonial-name {
	font-weight: bold;
}

.testimonial-card-div {
	max-width: 80%;
	display: flex;
	flex-direction: row;
	margin-right: 1rem;
	background-color: white;
	padding: 1rem;
	border-radius: 16px;
}

.testimonial-picture img {
	max-width: 100px;
	padding-left: 1rem;
}

.about-content-text {
	max-width: 50%;
	margin-right: 2rem;
}

.about-content-div {
	display: flex;
	flex-direction: row;
}

.under-construction {
	text-align: center;
}

html {
	scroll-behavior: smooth;
}

a,
p,
li {
	font-family: "Karla";
}

a {
	text-decoration: none;
}

h1 {
	font-family: "Markazi Text";
	font-size: xxx-large;
}

.container {
	max-width: 61.625rem;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.grid {
	display: grid;
}

* {
	margin: 0;
	padding: 0;
}

/* File: font.css */
@font-face {
	font-family: "Karla";
	src: local("Karla"),
		url("assets/Karla-VariableFont_wght.ttf") format("truetype");
}

@font-face {
	font-family: "Markazi Text";
	src: local("Markazi Text"),
		url("assets/MarkaziText-VariableFont_wght.ttf") format("truetype");
}
