.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.nav,
.footer-nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.nav-bar-links ul,
.footer-nav-links {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.nav-bar-links li {
	display: flex;
	flex-direction: row;
	float: left;
	padding: 0.75rem;
	font-weight: bold;
}

.nav-bar-links a {
	color: black;
	text-decoration: none;
}

.nav-bar-links a:hover,
.footer-nav-links a:hover {
	color: #495e57;
	transition: color 0.5s;
}

.footer {
	display: grid;
	grid-template-columns: repeat(4, 25%);
	background-color: #495e57;
	color: white;
	padding: 1rem;
	overflow-wrap: break-word;
}

.footer img {
	width: 100%;
}

.footer ul {
	list-style-type: none;
	padding: 0;
}

.footer a {
	color: white;
	text-decoration: none;
}

.footer a:hover {
	color: #f4ce14;
}

.footer-section-header {
	font-weight: bold;
}

.footer-nav-links {
	font-weight: bold;
}

.footer img {
	margin: auto;
}

.main-splash {
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 5rem;
	background-color: #495e57;
}

.specials-div {
	display: flex;
	flex-direction: column;
	padding: 0rem 5rem 5rem 5rem;
}

.specials-div-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.specials-food-cards-div {
	display: grid;
	grid-template-columns: repeat(3, auto);
	justify-items: left;
	align-items: start;
}

.splash-section {
	display: grid;
	grid-template-columns: repeat(2, auto);
}

.splash-section h1 {
	color: #f4ce14;
}

.splash-section h2 {
	color: white;
}

.splash-section img {
	width: 60%;
	margin: auto;
	border-radius: 16px;
}

.food-card-img {
	width: 100%;
	border-radius: 16px;
	padding: 0;
}

.food-card-div {
	width: 75%;
	display: flex;
	flex-direction: column;
}

.food-card-footer {
	display: flex;
}

.food-card-info {
	background-color: #d9d9d9;
	padding: 1rem;
	border-radius: 16px;
	margin-bottom: 1rem;
	margin-top: -2rem;
	z-index: -1;
}

.delivery-icon {
	height: 25%;
	padding-left: 10px;
	object-fit: scale-down;
}

.link-button {
	padding: 0.5rem 1rem;
	border-radius: 2rem;
	background-color: #f4ce14;
	color: #495e57;
	font-weight: bold;
	border: 0.1875rem solid #f4ce14;
	text-decoration: none;
	height: max-content;
	width: max-content;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.booking-page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.booking-form {
	display: grid;
	max-width: 200px;
	gap: 20px;
}

.booking-form-div {
	display: flex;
	background-color: #f4ce14;
	max-width: fit-content;
	border-radius: 16px;
	margin: 0rem 2rem 2rem 2rem;
	padding: 2rem;
	flex-direction: row;
	justify-content: center;
}

.confirmed-booking-div {
	display: flex;
	align-content: center;
	margin: 2rem;
	flex-direction: column;
}

a,
p,
li {
	font-family: "Karla";
}

h1 {
	font-family: "Markazi Text";
	font-size: xxx-large;
}

/* File: font.css */
@font-face {
	font-family: "Karla";
	src: local("Karla"),
		url("assets/Karla-VariableFont_wght.ttf") format("truetype");
}

@font-face {
	font-family: "Markazi Text";
	src: local("Markazi Text"),
		url("assets/MarkaziText-VariableFont_wght.ttf") format("truetype");
}
